In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Air_Quality.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16122 entries, 0 to 16121
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unique ID       16122 non-null  int64
 1   Indicator ID    16122 non-null  int64
 2   Name            16122 non-null  object
 3   Measure         16122 non-null  object
 4   Measure Info    16122 non-null  object
 5   Geo Type Name   16122 non-null  object
 6   Geo Join ID     16122 non-null  int64
 7   Geo Place Name  16122 non-null  object
 8   Time Period     16122 non-null  object
 9   Start_Date      16122 non-null  object
 10  Data Value      16122 non-null  float64
 11  Message         0 non-null      float64
dtypes: float64(2), int64(3), object(7)
memory usage: 1.5+ MB

In [25]:
df[['Geo Type Name', 'Geo Join ID', 'Geo Place Name']]

      Geo Type Name  Geo Join ID                          Geo Place Name
0                CD          313                     Coney Island (CD13)
1                CD          313                     Coney Island (CD13)
2           Borough            1                                   Bronx
3           Borough            1                                   Bronx
4                CD          211        Morris Park and Bronxdale (CD11)
...             ...          ...                                     ...
16117            CD          306    Park Slope and Carroll Gardens (CD6)
16118            CD          305   East New York and Starrett City (CD5)
16119            CD          304                          Bushwick (CD4)
16120            CD          303                Bedford Stuyvesant (CD3)
16121            CD          302  Fort Greene and Brooklyn Heights (CD2)

[16122 rows x 3 columns]

In [90]:
df['Geo Join ID'].unique()

array([      313,         1,       211,       212,         2,       301,
             302,       303,       304,       305,       306,       307,
             308,       206,       207,       101,       102,       103,
             104,       105,       106,       107,       201,       202,
             203,       204,       205,       208,       209,       210,
             309,       310,       401,       402,       403,       404,
             405,       406,       407,       408,       409,       410,
             501,       502,       503,       504,         3,         4,
               5,       311,       108,       109,       110,       111,
             112,       312,       314,       315,       316,       317,
             318,       411,       412,       413,       414,    305307,
          306308,    309310,    404406,    501502,    503504, 105106107],
      dtype=int64)

In [5]:
df[df['Time Period'] == '2013']

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value,Message
65,130397,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,101,Kingsbridge - Riverdale,2013,01/01/2013,17.6,NaN
66,130398,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,102,Northeast Bronx,2013,01/01/2013,2.2,NaN
67,130399,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,103,Fordham - Bronx Pk,2013,01/01/2013,24.5,NaN
68,130400,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,104,Pelham - Throgs Neck,2013,01/01/2013,4.4,NaN
69,130401,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,105,Crotona -Tremont,2013,01/01/2013,16.9,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
204,130536,642,Boiler Emissions- Total NOx Emissions,Number per km2,number,Borough,1,Bronx,2013,01/01/2013,42.7,NaN
205,130537,642,Boiler Emissions- Total NOx Emissions,Number per km2,number,Borough,2,Brooklyn,2013,01/01/2013,22.8,NaN
206,130538,642,Boiler Emissions- Total NOx Emissions,Number per km2,number,Borough,3,Manhattan,2013,01/01/2013,161.1,NaN
207,130539,642,Boiler Emissions- Total NOx Emissions,Number per km2,number,Borough,4,Queens,2013,01/01/2013,16.1,NaN
208,130540,642,Boiler Emissions- Total NOx Emissions,Number per km2,number,Borough,5,Staten Island,2013,01/01/2013,2.7,NaN

In [6]:
time_period_unique = list(df['Time Period'].unique())

In [7]:
print(time_period_unique)

['Summer 2013', 'Summer 2014', 'Winter 2008-09', 'Summer 2009', 'Summer 2010', 'Summer 2011', 'Summer 2012', 'Winter 2009-10', '2005-2007', '2013', '2005', '2009-2011', 'Winter 2010-11', 'Winter 2011-12', 'Winter 2012-13', 'Annual Average 2009', 'Annual Average 2010', 'Annual Average 2011', 'Annual Average 2012', 'Annual Average 2013', '2015', 'Winter 2013-14', 'Annual Average 2014', '2011', 'Winter 2014-15', '2016', 'Annual Average 2015', 'Summer 2015', 'Winter 2015-16', 'Summer 2016', 'Annual Average 2016', 'Summer 2017', '2012-2014', 'Summer 2018', 'Annual Average 2017', 'Summer 2019', 'Winter 2016-17', 'Annual Average 2018', 'Winter 2017-18', '2015-2017', 'Summer 2020', 'Annual Average 2019', 'Winter 2018-19', 'Annual Average 2020', 'Winter 2019-20']

#### Lets divide 'Time Period' column into 'season' and 'year'. Since we already have a 'Start_Date' column, new column 'year' will take, for Winter cases as well as multi-year cases, the ending year.

To create the new columns 'season' and 'year' from the 'Time Period' column of the DataFrame df, we will use the str.extract() method from Pandas and regular expressions.

For the 'season' column, we will use the regular expression (r'^(\D+).*'), which extracts all non-numeric characters at the beginning of the string. 

For the 'year' column, we will use the regular expression (r'(\d{4})(?:-(\d{2}))?$'), which searches for a group of four digits followed optionally by a hyphen and two additional digits.

In [8]:
# Extract text and numbers from 'Time Period'
prueba = df['Time Period']
# Extract 'season' and 'year' from 'prueba'
seasons = prueba.str.extract(r'^(\D+).*')
years = prueba.str.extract(r'(\d{4})(?:-(\d{2}))?$')

# Concatenate 'seasons', 'years', and 'prueba' into a new DataFrame
new_df = pd.concat([prueba, seasons, years], axis=1)
new_df.columns = ['time_period', 'season', 'year', 'year2']
new_df.head(5)

      time_period   season  year year2
0     Summer 2013  Summer   2013   NaN
1     Summer 2014  Summer   2014   NaN
2     Summer 2013  Summer   2013   NaN
3     Summer 2014  Summer   2014   NaN
4  Winter 2008-09  Winter   2008    09

We'll create a new column 'year_final' using the apply() method to iterate over each row in the DataFrame, and for each row, a lambda function is applied to concatenate the values of "year" and "year2" columns.

The if not pd.isna(x['year2']) condition checks if the value in the "year2" column is not a NaN value. If it is not NaN, then the concatenation takes place using the first two characters of the "year" column and the last two characters of the "year2" column. The result is then converted to a string using the str() function.

If the value in the "year2" column is NaN, then the value in the "year" column is used as is.

In [9]:
# Create a new column with the concatenated values
new_df['year_final'] = new_df.apply(lambda x: str(x['year'][:2]) + str(x['year2'])[-2:] if not pd.isna(x['year2']) else x['year'], axis=1)

Fill NaN values in 'season' column with 'Multi-year' label. 
Replace 'Annual Average' with 'Year' in 'season' column

In [10]:
new_df['season'] = new_df['season'].fillna('Multi-year')
new_df['season'] = new_df['season'].str.replace('Annual Average', 'Year')

In [11]:
new_df.drop(['time_period', 'year', 'year2'], axis=1, inplace=True)

In [12]:
new_df.head(5)

    season year_final
0  Summer        2013
1  Summer        2014
2  Summer        2013
3  Summer        2014
4  Winter        2009

In [13]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16122 entries, 0 to 16121
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   season      16122 non-null  object
 1   year_final  16122 non-null  object
dtypes: object(2)
memory usage: 252.0+ KB

In [14]:
# get the column to be inserted
col1 = new_df['season']
col2 = new_df['year_final']

# insert col1 into df at position 9
df.insert(9, 'period_type', col1)

In [15]:
# insert col2 into df at position 11
df.insert(11, 'end_year', col2)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16122 entries, 0 to 16121
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unique ID       16122 non-null  int64
 1   Indicator ID    16122 non-null  int64
 2   Name            16122 non-null  object
 3   Measure         16122 non-null  object
 4   Measure Info    16122 non-null  object
 5   Geo Type Name   16122 non-null  object
 6   Geo Join ID     16122 non-null  int64
 7   Geo Place Name  16122 non-null  object
 8   Time Period     16122 non-null  object
 9   period_type     16122 non-null  object
 10  Start_Date      16122 non-null  object
 11  end_year        16122 non-null  object
 12  Data Value      16122 non-null  float64
 13  Message         0 non-null      float64
dtypes: float64(2), int64(3), object(9)
memory usage: 1.7+ MB

Create new column 'start_year' and insert it after 'Start_Date'

In [17]:
# extract the year component from the 'Start_Date' column
df['start_year'] = df['Start_Date'].str.split('/').str[-1]

# move the 'start_year' column to position 11
cols = list(df.columns)
cols.insert(11, cols.pop(cols.index('start_year')))
df = df[cols]

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16122 entries, 0 to 16121
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unique ID       16122 non-null  int64
 1   Indicator ID    16122 non-null  int64
 2   Name            16122 non-null  object
 3   Measure         16122 non-null  object
 4   Measure Info    16122 non-null  object
 5   Geo Type Name   16122 non-null  object
 6   Geo Join ID     16122 non-null  int64
 7   Geo Place Name  16122 non-null  object
 8   Time Period     16122 non-null  object
 9   period_type     16122 non-null  object
 10  Start_Date      16122 non-null  object
 11  start_year      16122 non-null  object
 12  end_year        16122 non-null  object
 13  Data Value      16122 non-null  float64
 14  Message         0 non-null      float64
dtypes: float64(2), int64(3), object(10)
memory usage: 1.8+ MB

In [30]:
df['end_year'].max()

'2020'

In [31]:
df.to_parquet('calidad_aire.parquet', index=False)

In [32]:
import pandas as pd
df = pd.read_parquet('calidad_aire.parquet')

In [33]:
df[['Unique ID', 'Indicator ID', 'Name']]

       Unique ID  Indicator ID                  Name
0         216498           386            Ozone (O3)
1         216499           386            Ozone (O3)
2         219969           386            Ozone (O3)
3         219970           386            Ozone (O3)
4         164876           383  Sulfur Dioxide (SO2)
...          ...           ...                   ...
16117     671118           386            Ozone (O3)
16118     671119           386            Ozone (O3)
16119     671120           386            Ozone (O3)
16120     671121           386            Ozone (O3)
16121     671122           386            Ozone (O3)

[16122 rows x 3 columns]

In [59]:
indicator_name = list(df['Name'].unique())
indicator_ID = list(df['Indicator ID'].unique())

In [69]:
# Crear un diccionario vacío para almacenar los resultados
dict_indicator_id = {}

# Iterar sobre los valores únicos de Indicator ID
for id in indicator_ID:
    
    # Filtrar el DataFrame por Indicator ID
    filtered_df = df[df['Indicator ID'] == id]
    
    # Almacenar el DataFrame filtrado en el diccionario con Indicator ID como llave
    dict_indicator_id[id] = filtered_df

In [75]:
# Crear un diccionario vacío para almacenar los resultados
dict_indicator_info = {}

# Iterar sobre los valores únicos de Indicator ID
for id in indicator_ID:
    
    # Filtrar el DataFrame por Indicator ID
    filtered_df = df[df['Indicator ID'] == id]
    
    # Extraer el nombre correspondiente a Indicator ID
    name = filtered_df['Name'].unique()[0]
    
    # Extraer los años únicos correspondientes a Indicator ID
    years = list(filtered_df['end_year'].unique())
    
    # Crear una tupla con el nombre, ID y años únicos correspondientes
    indicator_info = (name, years)
    
    # Almacenar la tupla en el diccionario con Indicator ID como llave
    dict_indicator_info[id] = indicator_info

In [78]:
for key in dict_indicator_info.keys():
    print('Indicator ID:', key)
    print('Name:', dict_indicator_info[key][0])
    print('años:', dict_indicator_info[key][1])

Indicator ID: 386
Name: Ozone (O3)
años: ['2013', '2014', '2009', '2010', '2011', '2012', '2015', '2017', '2016', '2018', '2019', '2020']
Indicator ID: 383
Name: Sulfur Dioxide (SO2)
años: ['2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016']
Indicator ID: 639
Name: PM2.5-Attributable Deaths
años: ['2007', '2011', '2014', '2017']
Indicator ID: 640
Name: Boiler Emissions- Total SO2 Emissions
años: ['2013', '2015']
Indicator ID: 641
Name: Boiler Emissions- Total PM2.5 Emissions
años: ['2013', '2015']
Indicator ID: 642
Name: Boiler Emissions- Total NOx Emissions
años: ['2013', '2015']
Indicator ID: 646
Name: Air Toxics Concentrations- Average Benzene Concentrations
años: ['2005', '2011']
Indicator ID: 647
Name: Air Toxics Concentrations- Average Formaldehyde Concentrations
años: ['2005', '2011']
Indicator ID: 648
Name: PM2.5-Attributable Asthma Emergency Department Visits
años: ['2007', '2011', '2014', '2017']
Indicator ID: 650
Name: PM2.5-Attributable Respiratory Hospitalizations (Adults 20 Yrs and Older)
años: ['2007', '2011', '2014', '2017']
Indicator ID: 651
Name: PM2.5-Attributable Cardiovascular Hospitalizations (Adults 40 Yrs and Older)
años: ['2007', '2011', '2014', '2017']
Indicator ID: 643
Name: Traffic Density- Annual Vehicle Miles Traveled
años: ['2005', '2016']
Indicator ID: 652
Name: O3-Attributable Cardiac and Respiratory Deaths
años: ['2007', '2011', '2014', '2017']
Indicator ID: 653
Name: O3-Attributable Asthma Emergency Department Visits
años: ['2007', '2011', '2014', '2017']
Indicator ID: 655
Name: O3-Attributable Asthma Hospitalizations
años: ['2007', '2011', '2014', '2017']
Indicator ID: 657
Name: PM2.5-Attributable Asthma Emergency Department Visits
años: ['2007', '2011', '2014', '2017']
Indicator ID: 659
Name: O3-Attributable Asthma Emergency Department Visits
años: ['2007', '2011', '2014', '2017']
Indicator ID: 661
Name: O3-Attributable Asthma Hospitalizations
años: ['2007', '2011', '2014', '2017']
Indicator ID: 644
Name: Traffic Density- Annual Vehicle Miles Traveled for Cars
años: ['2005', '2016']
Indicator ID: 645
Name: Traffic Density- Annual Vehicle Miles Traveled for Trucks
años: ['2005', '2016']
Indicator ID: 375
Name: Nitrogen Dioxide (NO2)
años: ['2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020']
Indicator ID: 365
Name: Fine Particulate Matter (PM2.5)
años: ['2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020']

In [100]:
x = df[(df['Indicator ID'] == 375) & (df['end_year'] == '2020')]

In [102]:
x['Geo Type Name'].unique()

array(['Borough', 'UHF42', 'UHF34', 'Citywide', 'CD'], dtype=object)

In [87]:
districts = []
other = []
y = list(x['Geo Place Name'].unique())
for string in y: 
    if 'CD' in string: 
        districts.append(string)
    else: 
        other.append(string)
print(districts)

['Greenpoint and Williamsburg (CD1)', 'Williamsbridge and Baychester (CD12)', 'Morris Park and Bronxdale (CD11)', 'Throgs Neck and Co-op City (CD10)', 'Parkchester and Soundview (CD9)', 'Riverdale and Fieldston (CD8)', 'Kingsbridge Heights and Bedford (CD7)', 'Belmont and East Tremont (CD6)', 'Fordham and University Heights (CD5)', 'Highbridge and Concourse (CD4)', 'Morrisania and Crotona (CD3)', 'Hunts Point and Longwood (CD2)', 'Mott Haven and Melrose (CD1)', 'Washington Heights and Inwood (CD12)', 'East Harlem (CD11)', 'Central Harlem (CD10)', 'Morningside Heights and Hamilton Heights (CD9)', 'Upper East Side (CD8)', 'Upper West Side (CD7)', 'Stuyvesant Town and Turtle Bay (CD6)', 'Midtown (CD5)', 'Clinton and Chelsea (CD4)', 'Lower East Side and Chinatown (CD3)', 'Greenwich Village and Soho (CD2)', 'Financial District (CD1)', 'Tottenville and Great Kills (CD3)', 'South Beach and Willowbrook (CD2)', 'St. George and Stapleton (CD1)', 'Rockaway and Broad Channel (CD14)', 'Queens Village (CD13)', 'Jamaica and Hollis (CD12)', 'Bayside and Little Neck (CD11)', 'South Ozone Park and Howard Beach (CD10)', 'Kew Gardens and Woodhaven (CD9)', 'Hillcrest and Fresh Meadows (CD8)', 'Flushing and Whitestone (CD7)', 'Rego Park and Forest Hills (CD6)', 'Ridgewood and Maspeth (CD5)', 'Elmhurst and Corona (CD4)', 'Jackson Heights (CD3)', 'Woodside and Sunnyside (CD2)', 'Long Island City and Astoria (CD1)', 'Flatlands and Canarsie (CD18)', 'East Flatbush (CD17)', 'Brownsville (CD16)', 'Sheepshead Bay (CD15)', 'Flatbush and Midwood (CD14)', 'Coney Island (CD13)', 'Borough Park (CD12)', 'Bensonhurst (CD11)', 'Bay Ridge and Dyker Heights (CD10)', 'South Crown Heights and Lefferts Gardens (CD9)', 'Crown Heights and Prospect Heights (CD8)', 'Sunset Park (CD7)', 'Park Slope and Carroll Gardens (CD6)', 'East New York and Starrett City (CD5)', 'Bushwick (CD4)', 'Bedford Stuyvesant (CD3)', 'Fort Greene and Brooklyn Heights (CD2)']

In [88]:
print(other)

['Northeast Bronx', 'Kingsbridge - Riverdale', 'New York City', 'South Bronx', 'Southern SI', 'Northern SI', 'Bayside Little Neck-Fresh Meadows', 'Union Square-Lower Manhattan', 'Chelsea-Village', 'Upper East Side-Gramercy', 'Rockaways', 'Southeast Queens', 'Jamaica', 'Southwest Queens', 'Ridgewood - Forest Hills', 'Flushing - Clearview', 'West Queens', 'Long Island City - Astoria', 'Upper West Side', 'East Harlem', 'Central Harlem - Morningside Heights', 'Washington Heights', 'Williamsburg - Bushwick', 'Coney Island - Sheepshead Bay', 'Bensonhurst - Bay Ridge', 'Canarsie - Flatlands', 'East Flatbush - Flatbush', 'Borough Park', 'Sunset Park', 'East New York', 'Bedford Stuyvesant - Crown Heights', 'Downtown - Heights - Slope', 'Greenpoint', 'Pelham - Throgs Neck', 'Fordham - Bronx Pk', 'South Beach - Tottenville', 'Willowbrook', 'Stapleton - St. George', 'Port Richmond', 'Fresh Meadows', 'Bayside - Little Neck', 'Lower Manhattan', 'Union Square - Lower East Side', 'Greenwich Village - SoHo', 'Gramercy Park - Murray Hill', 'Chelsea - Clinton', 'Upper East Side', 'Hunts Point - Mott Haven', 'High Bridge - Morrisania', 'Crotona -Tremont', 'Staten Island', 'Queens', 'Manhattan', 'Brooklyn', 'Bronx']

In [98]:
places_dict = {}

for geo_type in df['Geo Type Name'].unique():
    filtered_df = df[df['Geo Type Name'] == geo_type]
    places = list(filtered_df[~filtered_df['Geo Place Name'].str.contains('CD')]['Geo Place Name'].unique())
    places_dict[geo_type] = places

In [99]:
print(places_dict)

{'CD': [], 'Borough': ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island'], 'UHF42': ['Kingsbridge - Riverdale', 'Northeast Bronx', 'Fordham - Bronx Pk', 'Pelham - Throgs Neck', 'Crotona -Tremont', 'High Bridge - Morrisania', 'Hunts Point - Mott Haven', 'Greenpoint', 'Downtown - Heights - Slope', 'Bedford Stuyvesant - Crown Heights', 'East New York', 'Sunset Park', 'Borough Park', 'East Flatbush - Flatbush', 'Canarsie - Flatlands', 'Bensonhurst - Bay Ridge', 'Coney Island - Sheepshead Bay', 'Williamsburg - Bushwick', 'Washington Heights', 'Central Harlem - Morningside Heights', 'East Harlem', 'Upper West Side', 'Upper East Side', 'Chelsea - Clinton', 'Gramercy Park - Murray Hill', 'Greenwich Village - SoHo', 'Union Square - Lower East Side', 'Lower Manhattan', 'Long Island City - Astoria', 'West Queens', 'Flushing - Clearview', 'Bayside - Little Neck', 'Ridgewood - Forest Hills', 'Fresh Meadows', 'Southwest Queens', 'Jamaica', 'Southeast Queens', 'Rockaways', 'Port Richmond', 'Stapleton - St. George', 'Willowbrook', 'South Beach - Tottenville'], 'Citywide': ['New York City'], 'UHF34': ['Kingsbridge - Riverdale', 'Northeast Bronx', 'Fordham - Bronx Pk', 'Pelham - Throgs Neck', 'Greenpoint', 'Downtown - Heights - Slope', 'Bedford Stuyvesant - Crown Heights', 'East New York', 'Sunset Park', 'Borough Park', 'East Flatbush - Flatbush', 'Canarsie - Flatlands', 'Bensonhurst - Bay Ridge', 'Coney Island - Sheepshead Bay', 'Williamsburg - Bushwick', 'Washington Heights', 'Central Harlem - Morningside Heights', 'East Harlem', 'Upper West Side', 'Long Island City - Astoria', 'West Queens', 'Flushing - Clearview', 'Ridgewood - Forest Hills', 'Southwest Queens', 'Jamaica', 'Southeast Queens', 'Rockaways', 'Upper East Side-Gramercy', 'Chelsea-Village', 'Union Square-Lower Manhattan', 'Bayside Little Neck-Fresh Meadows', 'Northern SI', 'Southern SI', 'South Bronx']}

### El estudio no cuenta con información actualizada ni desagregada por mes, ni día, mucho menos por hora.

#### Se ha decidido buscar otras fuentes de información